body, html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  color: #1b1b1b;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-bar {
  margin-top: 2vh;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar div {
  cursor: pointer;
}

.nav-item:hover {
  color: #ecaaaa;
  -webkit-transition: .3s;
  transition: .3s;
}

.diff-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6rem;
}

.nav-logo {
  width: 90px;
  height: 80px;
}

.login-btn {
  padding: 1rem 2rem;
  border: .15rem solid black;
  border-radius: 10rem;
}

.login-btn:hover {
  background-color: #ecaaaa;
  border: 0.15rem solid #ecaaaa;
  -webkit-transition: .25s;
  transition: .25s;
  cursor: pointer;
  color: #ffffff;
}

.intro-section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-text {
  min-height: 90%;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-text h1 {
  font-size: 7rem;
  padding: 0;
  margin: 0;
}

.intro-text p {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: #474747;
}

.text-inner {
  width: 65%;
  min-height: 60%;
}

.start-btn {
  background-color: #ecaaaa;
  border-radius: 10rem;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  margin-top: 1rem;
  padding: 1rem 3rem;
}

.start-btn:hover {
  background-color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.intro-bg {
  height: 90%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-inner {
  height: 80%;
  width: 100%;
  margin-bottom: 3rem;
  background-image: url("../../media/5e2736c1fdf8684a69e11a11c0da2f9b.gif");
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85vh;
}

.feature-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  height: 80%;
}

.feature-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 80%;
}

.feature-bg-inner {
  min-width: 50%;
  width: auto;
  height: 100%;
  background-image: url("../../media/d5cedd547c98034c05a5ee839dd5dc0a (1).jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.feature-card {
  background-color: #fff5f5;
  height: 20vh;
  width: 22vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  border-radius: .8rem;
}

.feature-card:hover {
  -webkit-box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017), 3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024), 7px 15.8px 15.3px rgba(0, 0, 0, 0.03), 12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036), 23.4px 52.6px 51px rgba(0, 0, 0, 0.043), 56px 126px 122px rgba(0, 0, 0, 0.06);
          box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017), 3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024), 7px 15.8px 15.3px rgba(0, 0, 0, 0.03), 12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036), 23.4px 52.6px 51px rgba(0, 0, 0, 0.043), 56px 126px 122px rgba(0, 0, 0, 0.06);
  -webkit-transition: 1s;
  transition: 1s;
}

.card-logo {
  height: 100%;
  width: 15%;
}

.card-logo i {
  font-size: 2.5rem;
  background-color: #eeb6b6;
  color: #1b1b1b;
  border-radius: .8rem 0 1rem;
  padding: .5rem;
}

.card-text {
  height: 100%;
  width: 85%;
}

.card-text h2 {
  font-weight: 400;
  padding: 0 .5rem;
}

.card-text p {
  color: #474747;
  padding: 0 .5rem;
  line-height: 1.8rem;
}

.useCases-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  width: 100%;
}

.useCases-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 65%;
  width: 30%;
}

.useCases-heading h1 {
  font-size: 6rem;
  padding: 0;
  margin: 0;
}

.useCases-heading p {
  font-size: 1.1rem;
  line-height: 1.3em;
}

.useCases-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 65%;
  width: 60%;
}

.useCases-card {
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  height: 100%;
  width: 17vw;
}

.useCases-card:hover {
  -webkit-box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017), 3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024), 7px 15.8px 15.3px rgba(0, 0, 0, 0.03), 12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036), 23.4px 52.6px 51px rgba(0, 0, 0, 0.043), 56px 126px 122px rgba(0, 0, 0, 0.06);
          box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017), 3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024), 7px 15.8px 15.3px rgba(0, 0, 0, 0.03), 12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036), 23.4px 52.6px 51px rgba(0, 0, 0, 0.043), 56px 126px 122px rgba(0, 0, 0, 0.06);
  -webkit-transition: 1s;
  transition: 1s;
}

.useCases-logo {
  height: 50%;
  width: 100%;
}

.useCases-text {
  border-radius: 0 0 1rem 1rem;
  height: 40%;
  width: 100%;
}

.useCases-text p {
  text-align: left;
  padding: .5rem;
}

.useCases-card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
}

.bird1 {
  background-image: url("../../media/bird3.webp");
  background-size: contain;
  background-position: center;
}

.bird2 {
  background-image: url("../../media/bird.webp");
  background-size: contain;
  background-position: center;
}

.bird3 {
  background-image: url("../../media/bird1.webp");
  background-size: contain;
  background-position: center;
}

.pricing-section {
  background-color: chartreuse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}

.pricing-tab {
  background-color: darkblue;
  height: 85%;
  width: 25vw;
}

.price-slab {
  background-color: yellow;
  height: 25%;
  width: 100%;
}

.price-btn {
  background-color: #4a4b13;
  height: 15%;
  width: 100%;
}

.price {
  background-color: orange;
  height: 10%;
  width: 100%;
}

.pricing-text {
  background-color: #5f480e;
  height: 45%;
  width: 100%;
}

.contact-section {
  background-color: blueviolet;
  height: 80vh;
  width: 100%;
}

footer {
  background-color: #87ccfa;
  height: 30vh;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */