$main_bg_color: #f6f6f6;
$primary-color: #ecaaaa;
$secondary-color: #fff5f5;
$primary-text-color: #1b1b1b;
$secondary-text-color: #504f4f;
$foote-bg: #fafafb;
$btn-color: rgb(245, 199, 48);


// #ffa500

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin blank-slate {
  padding: 0;
  margin: 0;
}

@mixin logo {
  background-image: url("../../media/logo.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  font-family: "Oooh Baby", cursive;
}

@mixin  form-input {
  width: 90%;
  background-color: inherit;
  border: none;
  outline: none;
  
  border-bottom: .2rem solid rgb(219, 216, 216);
  padding: 1rem 0;
}

body,
html {
  // background-color: $main_bg_color;

  background-color: #ffffff;
  margin: 0;
  padding: 0;
  // display: flex;

  font-family: "Roboto", sans-serif;
  cursor: default;

  color: $primary-text-color;
  scroll-behavior: smooth;

  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.nav-bar {
  margin-top: 2vh;
  width: 100%;
  height: 10vh;

  @include flex-center;
  justify-content: start;
  

  // background-color: blue;

  div {
    cursor: pointer;
  }
}

.logo-section {
  height: 100%;
  width: 20%;

  flex-shrink: 2;
  // background-color: teal;
}

.menu-section {
  height: 100%;
  width: 60%;

  @include flex-center;
  justify-content: space-evenly;

  // background-color: paleturquoise;
}

.login-section {
  height: 100%;
  width: 30%;

  @include flex-center;
  // justify-content: start;

  // background-color: palevioletred;
}

.nav-item:hover {
  color: $primary-color;
  transition: 0.3s;
}

.diff-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 6rem;

  // background-color: rebeccapurple;

  p {
    font-family: "Oooh Baby", cursive;
    font-size: 2rem;
  }
}

.nav-logo {
  width: 90px;
  height: 80px;

  @include logo;
}

.login-btn {
  height: 20%;
  width: 15%;
  padding: 1rem 2rem;
  border: 0.15rem solid black;
  border-radius: 10rem;
}

.login-btn:hover {
  background-color: $primary-color;
  border: 0.15rem solid $primary-color;
  transition: 0.25s;
  cursor: pointer;
  color: #ffffff;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.intro-section {
  height: 100vh;
  width: 100%;

  display: flex;
  // background-color: yellow;
}

.intro-text {
  height: 90%;
  width: 55%;

  @include flex-center;
  flex-direction: column;

  // background-color: green;

  h1 {
    font-size: 7rem;
    // background-color: hotpink;
    @include blank-slate;
  }

  p {
    @include blank-slate;
    font-size: 1.5rem;
    color: $secondary-text-color;
    // background-color: pink;
  }
}

.text-inner {
  width: 65%;
  min-height: 60%;
  // background-color: orange;
}

.start-btn {
  // background-color: gold;
  background-color: $primary-color;
  border-radius: 10rem;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  margin-top: 1rem;
  padding: 1rem 3rem;
}

.start-btn:hover {
  background-color: black;
  transition: 0.5s;
}

.intro-bg {
  height: 90%;
  width: 45%;

  @include flex-center;

//   background-color: orange;
}

.bg-inner {
  height: 80%;
  width: 100%;

  background-image: url("../../media/5e2736c1fdf8684a69e11a11c0da2f9b.gif");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(270deg);

//   background-color: brown;

}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.trusted-section{
  height: 50vh;
  width: 100%;

  @include flex-center;

  // background-color: papayawhip;

  // border-top: .5rem solid gray;
  // border-bottom: .5rem solid gray;
}

.trusted-text-wrapper{
  height: 100%;
  width: 40%;

  @include flex-center;
  flex-direction: column;
  // font-family: "Oooh Baby", cursive;
  font-size: 2.5rem;
  letter-spacing: .1rem;

  // background-color: peachpuff;

  // h2{
  //   // background-color: palegoldenrod;
  //   // @include blank-slate;

  //   // border-bottom: .5rem solid rgb(255, 199, 14);
  // }

}

.trusted-graphic{
  height: 50%;
  width: 60%;

  // background-color: floralwhite;

  background-image: url("https://cdn.dribbble.com/users/371697/screenshots/3797083/media/be94b9d9243359873391c54017ce42b6.jpg?compress=1&resize=800x600");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trusted-text{
  height: 50%;
  width: 100%;

  @include blank-slate;

  // background-color: lavender;

  h2{
    @include blank-slate;
    text-align: center;
  }
}

.trusted-logos-wrapper{
  height: 100%;
  width: 50%;

  @include flex-center;
  // justify-content: space-evenly;

  // background-color: palevioletred;
}

.trusted-logo{
  height: 100%;
  width: 20%;

  @include flex-center;

  // background-color: indianred;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.features-section {
  // background-color: yellow;

  @include flex-center;

  width: 100%;
  min-height: 85vh;
}

.feature-card-wrapper {
  // background-color: rgb(112, 78, 36);

  

  @include flex-center;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;

  width: 50%;
  min-height: 80%;
}

.feature-bg {
  // background-color: pink;

  @include flex-center;

  width: 50%;
  height: 70vh;
  min-height: 80%;
}

.feature-bg-inner {
  // background-color: aqua;
  align-self: baseline ;
  min-width: 90%;
  width: auto;
  height: 90%;

  // background-image: url("../../media/d5cedd547c98034c05a5ee839dd5dc0a\ \(1\).jpg");
  background-image: url("../../media/features.gif");
  background-repeat: no-repeat;
  background-size: contain;

  // transform: scale(1.1);
}

.feature-card {
  // background-color: $secondary-color;
  // background-color: gainsboro;

  min-height: 30vh;
  max-width: 22vw;
  @include flex-center;
  flex-direction: column;

  @include blank-slate;


}

.feature-card:hover {
  box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017),
    3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024),
    7px 15.8px 15.3px rgba(0, 0, 0, 0.03),
    12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036),
    23.4px 52.6px 51px rgba(0, 0, 0, 0.043),
    56px 126px 122px rgba(0, 0, 0, 0.06);

  transition: 1s;

  // cursor: pointer;
}

.card-logo {
  // background-color: blue;

  // align-self: start;
  height: 40%;
  width: 85%;
  

  // i {
  //   font-size: 2.5rem;
  //   background-color: #eeb6b6;
  //   color: $primary-text-color;
  //   // color: rgb(248, 249, 250);
  //   border-radius: 0.8rem 0 1rem;
  //   padding: 0.5rem;
  // }
}

.card-text {
  // background-color: burlywood;

  height: 60%;
  width: 85%;

  h2 {
    font-weight: 400;
    // padding: 0 0.5rem;
  }

  p {
    color: $secondary-text-color;
    // padding: 0 0.5rem;
    line-height: 1.8rem;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.useCases-section {
  // background-color: #474747;

  @include flex-center;

  min-height: 60vh;
  width: 100%;
}

.useCases-heading {
  // background-color: chocolate;

  @include flex-center;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 65%;
  width: 25%;

  h1 {
    font-size: 6rem;
    @include blank-slate;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.3em;
  }
}

.useCases-cards-wrapper {
  // background-color: rgb(117, 130, 153);

  @include flex-center;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;

  height: 60%;
  width: 65%;
}

.useCases-card {
  // background-color: darkcyan;
  // background-color: #f8f8f8;

  @include flex-center;
  flex-direction: column;

  border-radius: 1rem;

  height: 100%;
  min-width: 17vw;box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017),
  3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024),
  7px 15.8px 15.3px rgba(0, 0, 0, 0.03),
  12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036),
  23.4px 52.6px 51px rgba(0, 0, 0, 0.043),
  56px 126px 122px rgba(0, 0, 0, 0.06);

}

.useCases-card:hover {
  box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017),
    3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024),
    7px 15.8px 15.3px rgba(0, 0, 0, 0.03),
    12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036),
    23.4px 52.6px 51px rgba(0, 0, 0, 0.043),
    56px 126px 122px rgba(0, 0, 0, 0.06);

  transition: 1s;
}

.useCases-logo {
  // background-color: crimson;

  min-height: 20vh;
  height: 50%;
  width: 100%;
}

.useCases-text {
  // background-color: rgb(129, 65, 78);

  border-radius: 0 0 1rem 1rem;

  min-height: 40%;
  width: 100%;

  p {
    text-align: left;
    padding: 1rem;
  }
}

.useCases-card-heading {
  @include flex-center;
  @include blank-slate;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;

  // background-color: #474747;
}

.bird1 {
  background-image: url("../../media/bird3.webp");
  background-image: url("https://cdn.dribbble.com/users/76761/screenshots/14806722/media/4fff9e27f278d068cb137c5455276d98.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bird2 {
  background-image: url("../../media/bird.webp");
  background-image: url("https://cdn.dribbble.com/users/76761/screenshots/14813003/media/61099260a5c20f3c0c4b8547912215ec.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bird3 {
  background-image: url("../../media/bird1.webp");
  background-image: url("https://cdn.dribbble.com/users/76761/screenshots/14800160/media/df74da36ad094305e3f8cb397258215b.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.pricing-section {
  // background-color: chartreuse;

  @include flex-center;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  margin-bottom: 10rem;
}

.pricing-section-title {
  height: 20%;
  width: 100%;

  
  @include flex-center;
  flex-direction: column;

  // background-color: yellow;

  font-size: 2.5rem;

  h1{
    @include blank-slate;
  }

  p{
    font-family: "Oooh Baby", cursive;
  }
}

.pricing-section-wrapper {
  height: 70%;
  width: 100%;

  // background-color: red;

  @include flex-center;
  justify-content: space-evenly;
}
.pricing-line {
  background-color: #1b1b1b;

  height: 0.1rem;
  width: 30rem;
  margin: 1rem 0;
}
.pricing-tab {
  // background-color: darkblue;
  background-color: #fefaf3;

  // background-color: $secondary-color;
  // background-color: #F8F8F8;
  // border: .2rem solid $secondary-text-color;

  height: 90%;
  width: 25vw;

  border-radius: 0.5rem;

  // box-shadow:
  // 1.5px 3.5px 2.4px rgba(202, 124, 124, 0.017),
  // 3.7px 8.4px 6.1px rgba(228, 161, 161, 0.024),
  // 7px 15.8px 10.3px rgba(0, 0, 0, 0.03),
  // 12.5px 28.1px 20.3px rgba(235, 181, 181, 0.036),
  // 23.4px 52.6px 51px rgba(0, 0, 0, 0.043),
  // 56px 126px 122px rgba(235, 164, 164, 0.06);

  // box-shadow:
  // 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017),
  // 3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024),
  // 7px 15.8px 15.3px rgba(0, 0, 0, 0.03),
  // 12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036),
  // 23.4px 52.6px 51px rgba(0, 0, 0, 0.043),
  // 56px 126px 122px rgba(0, 0, 0, 0.06);
}

.pricing-tab-focus {
  box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017),
    3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024),
    7px 15.8px 15.3px rgba(0, 0, 0, 0.03),
    12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036),
    23.4px 52.6px 51px rgba(0, 0, 0, 0.043),
    56px 126px 122px rgba(0, 0, 0, 0.06);

  background-color: #fefaf3;
  border: none;
}

.pricing-tab:hover {
  background-color: #fefaf3;

  box-shadow: 1.5px 3.5px 3.4px rgba(0, 0, 0, 0.017),
    3.7px 8.4px 8.1px rgba(0, 0, 0, 0.024),
    7px 15.8px 15.3px rgba(0, 0, 0, 0.03),
    12.5px 28.1px 27.3px rgba(0, 0, 0, 0.036),
    23.4px 52.6px 51px rgba(0, 0, 0, 0.043),
    56px 126px 122px rgba(0, 0, 0, 0.06);

  transition: 0.5s;
}

.pricing-tab-pop {
  margin: 0 auto;
  position: absolute;

  background-color: #fefaf3;
  color: #db962f;

  border-radius: 5rem;

  padding: 1rem 10.5rem;
  font-size: 1.2rem;
}

.price-slab {
  // background-color: yellow;

  height: 20%;
  width: 100%;
  // padding: 1rem ;

  @include flex-center;
  flex-direction: column;

  h1 {
    font-size: 3.5rem;
    font-weight: 400;

    @include blank-slate;

    padding: 3rem 0 0 0;
  }

  h3 {
    color: $secondary-text-color;
  }
}

.price-btn {
  // background-color: rgb(74, 75, 19);

  @include flex-center;

  height: 15%;
  width: 100%;

  a {
    // background-color: rgb(167, 27, 27);
    background-color: #ff6961;
    color: white;

    @include flex-center;

    position: absolute;
    width: 20%;
    height: 5%;
    // padding: 1;
    border-radius: 4.5rem;
  }
}

.price-btn a:hover {
  background-color: $primary-text-color;
  transition: 0.5s;
}

.price-wrapper {
  // background-color: orange;

  // @include flex-center;
  flex-direction: column;

  height: 15%;
  width: 100%;

  padding: 1rem;
}

.price-title {
  @include flex-center;
  justify-content: start;
  // background-color: green;

  h2 {
    font-size: 3rem;

    // background-color: #2b2b2b;

    @include blank-slate;
  }
}

.price-title-text {
  // background-color: #474747;

  color: #a0a0a0;
}

.price-content {
  // background-color: gray;

  @include blank-slate;

  h5 {
    @include blank-slate;
    font-size: 1rem;

    padding-top: 0.5rem;
    color: $secondary-text-color;
  }
}
.pricing-text {
  // background-color: rgb(95, 72, 14);

  @include flex-center;
  justify-content: start;
  align-items: start;
  flex-direction: column;

  height: 35%;
  width: 100%;

  li {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;

    list-style-image: url("../../media/icons8-double-tick-24.png");
    background-position: 0 0;
    background-size: 0.3rem 0.3rem;
    background-repeat: no-repeat;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.quote-section {
  // background-color: blueviolet;

  height: 40vh;
  width: 100%;
  font-family: "Oooh Baby", cursive;
  @include flex-center;
  align-items: start;

  i{
    // font-size: 8rem;
    align-self: start;
    // background-color: yellow;
    padding: 3rem;

    @include blank-slate;
  }
}

blockquote{
  font-size: 3rem;

  // background-color: oldlace;
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

footer {
  // background-color: rgb(135, 204, 250);
  // background-color: $foote-bg;

  height: 40vh;
  width: 100%;

  @include flex-center;
  // justify-content: space-evenly;
  flex-direction: column;
}

.footer-logo-section {
  height: 40%;
  width: 35%;
  // background-color: yellow;

  @include flex-center;
  flex-direction: column;
}

.web-logo {
  height: 70%;
  width: 50%;

  // background-image: url("https://cdn.dribbble.com/users/1672258/screenshots/15453159/media/52472b1d01004d02ea2b9ca1923490c7.gif");
  // background-position: center;
  // background-size: contain;
  // background-repeat: no-repeat;

  @include logo;
}

.web-text {
  height: 20%;
  width: 50%;

  // background-color: #DB962F;

  font-size: 2rem;

  @include flex-center;
  font-family: "Oooh Baby", cursive;
}

.footer-section-links {
  height: 20%;
  min-width: 15%;

  // background-color: olive;
  @include flex-center;
  justify-content: space-evenly;
  // flex-direction: column;

  img {
    width: 1.8rem;
    height: 1.8rem;
  }
}
.pricing-line {
  background-color: $primary-text-color;

  height: 0.1rem;
  width: 50%;
  margin: 1rem 0;
  margin: 0 auto;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.contact-section{
  height: 110vh;
  width: 100%;

  @include flex-center;
  flex-direction: column;
  

  // background-color: turquoise;
}
// .contact-section-graphic{
//   height: 25%;
//   width: 100%;

//   // @include flex-center;
  

//   background-color: palegoldenrod;

  
// }

// @keyframes pulse {
//   0% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 120rem;
//   }
//   5% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 105rem;
//   }
//   10% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 98rem;
//   }
//   15% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 93rem;
//   }
//   20%{
//     // background-color: #4c6b8a;
//     left: 88rem;
//   }
//   25% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 83rem;
//   }
//   30%{
//     // background-color: #768a9e;
//     left: 78rem;
//   }
//   35% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 73rem;
//   }
//   40% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 68rem;
//   }
//   45% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 63rem;
//   }
//   50%{
//     // background-color: #dadde0;
//     left: 58rem;
//   }
//   55% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 53rem;
//   }
//   60% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 48rem;
//   }
//   65% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 43rem;
//   }
//   70% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 38rem;
//   }
//   75% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 33rem;
//   }
//   80% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 28rem;
//   }
//   85% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 23rem;
//   }
//   90% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 18rem;
//   }
//   95% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 13rem;
//   }
//   100% {
//     // background-color: #001F3F;
//     // position: fixed;
//     left: 8rem;
//   }
  

// }

@keyframes walk {
  from{
    left: 120rem;
  }
  to{
    left: -30rem;
  }
}


// .contact-graphic{
//   height: 100%;
//   width: auto;
//   max-width: 17vw;
//   position: relative;

//   // background-color: purple;
  

//     animation: walk 5s infinite;
//     animation-delay: 1s;

//     background-image: url("https://cdn.dribbble.com/users/427368/screenshots/17175536/media/b68f2408011d36f1a45016b5f96cea41.gif");
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;

 
// }

// .contact-section-content-wrapper{
//   height: 75%;
//   width: 100%;
//   // background-color: burlywood;

//   @include flex-center;
// }

.contact-section-text{
  height: 40%;
  width: 100%;
  
  @include flex-center;
  flex-direction: column;
  justify-content: space-evenly;

  // background-color: teal;
}

.contact-test{
  height: 45%;
  width: 100%;

  @include flex-center;
  // background-color: plum;

  background-image: url("https://cdn.dribbble.com/users/76761/screenshots/14800160/media/df74da36ad094305e3f8cb397258215b.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contact-section-heading{
  height: 20%;
  // background-color: greenyellow;

  @include flex-center;
  flex-direction: column;

  h2{
    // background-color: purple;
    color: $primary-text-color;
    font-size: 3rem;

    @include blank-slate;
  }

  p{
    // background-color: yellow;
    
    color: $secondary-text-color;
    font-size: 1.3rem;
  }
}

.contact-section-links{
  height: 50%;
  width: 100%;

  @include flex-center;
  flex-direction: column;
  justify-content: space-evenly;

  // background-color: orange;
  

  
}
.contact-link-wrapper{
  // background-color: green;

  width: 40%;
  height: 15%;

  @include flex-center;

  border-radius: .4rem;
  // border: .15rem solid black;
  background-color: rgb(245, 118, 118);

  box-shadow:
  2.8px 2.8px 5px rgba(100, 100, 100, 0.017),
  6.7px 6.7px 11.9px rgba(151, 151, 151, 0.024),
  12.5px 12.5px 22.4px rgba(0, 0, 0, 0.03),
  22.3px 22.3px 20px rgba(0, 0, 0, 0.036),
  41.8px 41.8px 35.8px rgba(134, 133, 133, 0.043),
  100px 100px 179px rgba(0, 0, 0, 0.06); 

}

.contact-link-wrapper:hover{
  transition: .5s;
  background-color: $primary-color;
}

.contact-logo{
  height: 100%;
  width: 10%;

  @include flex-center;

  img{
    transform: scale(.9);
  }

  // background-color: pink;


}

.contact-link-text{
  height: 100%;
  width: 80%;
  
  @include flex-center;


  // background-color: hotpink;

  a{
    font-size: 1.3rem;
  }

}

.contact-section-form{
  height: 60%;
  width: 100%;

  @include flex-center;
  flex-wrap: wrap;

  // background-color: darkcyan;
}

.contact-form-card{
  height: 100%;
  width: 70%;

  @include flex-center;

  // background-color: #d0d0d3;
  border-radius: 1rem;
  // box-shadow:
  // 2.8px 2.8px 5px rgba(100, 100, 100, 0.017),
  // 6.7px 6.7px 11.9px rgba(151, 151, 151, 0.024),
  // 12.5px 12.5px 22.4px rgba(0, 0, 0, 0.03),
  // 22.3px 22.3px 20px rgba(0, 0, 0, 0.036),
  // 41.8px 41.8px 35.8px rgba(134, 133, 133, 0.043),
  // 100px 100px 179px rgba(0, 0, 0, 0.06); 

  form{
    @include flex-center;
    flex-wrap: wrap;

    border: none;
    outline: none;
    @include blank-slate;

    div{
      padding: 1rem;
    }

    input:focus{
      @include form-input;
      border-color: $primary-color;
    }
    
  }

}

.label-name{
  // background-color: rgb(196, 188, 108);
  height: 10%;
  width: 45%;
  
  

  input{
    // width: 90%;
    // background-color: inherit;
    // border: none;
    // outline: none;
    
    // border-bottom: .2rem solid rgb(219, 216, 216);
    // padding: 1rem 0;
   
    @include form-input;
    
  }
}


.label-mail{
  height: 10%;
  width: 45%;
  

  input{
    // width: 90%;
    // background-color: inherit;
    // border: none;
    // outline: none;
    
    // border-bottom: .2rem solid rgb(219, 216, 216);
    // padding: 1rem 0;
    @include form-input;
   
  
  }
}

.label-phone{
  width: 45%;
  // background-color: plum;

  input{
    // width: 90%;
    // background-color: inherit;
    // border: none;
    // outline: none;
    
    // border-bottom: .2rem solid rgb(219, 216, 216);
    // padding: 1rem 0;
   
    @include form-input;

  }

}

.form-radio{
  
  width: 93%;

  // background-color: peachpuff;

  @include flex-center;
  flex-wrap: wrap;
  justify-content: space-around;

  div{
    padding: 1rem 0;
  }

  label{
    color: $secondary-text-color;
  }

  

}

.radio-head{
  // background-color: #f8f8f8;
  width: 100% !important;
  color: $primary-text-color !important;
}

// input[type="radio"] {
//   background-color: purple;

// }

.message-area{
  width: 93%;

  textarea{
    // min-height: 10rem;
    height: 60%;
    width: 100%;
  border: none;
  border-bottom: .2rem solid rgb(219, 216, 216);
  // border-radius: .2rem;
  padding: 1rem 0;
  }

  textarea:focus{
    @include form-input;
    border-color: $primary-color;
  }
}

.form-submit{
  height: 10%;
  width: 100%;

  @include flex-center;

  // background-color: powderblue;

  margin-top: 1rem;
  padding: 1rem 0;

  input{
    width: 40%;
    height: 100%;
    cursor:  pointer;
    padding: 1rem;

    border: none;
    outline: none;

    font-size: 1.2rem;

    background-color: $primary-color;
  }


}

.submit-btn:hover{
  transition: .5s;
  background-color: $primary-text-color !important;
  color: white;
}




  // label{
  //   background-color: peru;
  //   font-size: 1rem;

  //   // padding: 2rem 0;
  // }

  // input{
  //   // background-color: purple;
  //   // padding: 1rem 4rem;
  // border: none;
  // border-bottom: .2rem solid rgb(190, 189, 189);
  // border-radius: .2rem;
  // // background-color: #d0d0d3;
  // }

  
// }

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  // background-color: yellow;
}

/* Modal Content */
.modal-content {
//   background-color: $secondary-color;
//   background-color: #FAFAFA;
    background-color: white;
  margin: auto;
  padding: 2rem;
  border: 1px solid #888;
  border-radius: 1rem;

  height: 80vh;
  width: 80%;

  @include flex-center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.login-close {
  height: 5%;
  width: 100%;
  align-self: flex-start;
  padding-bottom: 5rem;
  // background-color: paleturquoise;
}

.close{
    font-size: 3rem;
    font-weight: 400;

}
.close:hover{
    transition: .3s;
}

.login-graphic-wrapper {
  height: 100%;
  width: 50%;

//   background-color: lightcoral;

  @include flex-center;
}

.login-graphic {
  height: 90%;
  width: 100%;

//   background-image: url("https://cdn.dribbble.com/users/89889/screenshots/3658659/media/29897b71b7016a91d1ba475c16f3a1cc.gif");
//   background-image: url("https://cdn.dribbble.com/users/348324/screenshots/9133870/media/084c730482ea5cd853ff13f602b1bb00.gif");
  background-image: url("../../media/login_form.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.login-section-wrapper {
  height: 100%;
  width: 50%;

  @include flex-center;
  flex-direction: column;
  justify-content: start;

  // background-color: lightgreen;

}

.login-logo-main{
    height: 20%;
    width: 20%;

    // background-color: yellow;
    // position: absolute;
    @include logo;
}

.login-text-wrapper{
    height: 15%;
    width: 70%;

    @include flex-center;
    flex-direction: column;
    justify-content: end;

    // background-color: palegoldenrod;

    h1{
        font-size: 2rem;
        font-weight: 400;
        @include blank-slate;

    }

    h4{
        font-weight: 400;
        color: $secondary-text-color;
    }
}
.login-form{
    // background-color: orange;

    padding-bottom: 10rem;

    @include flex-center;
    flex-direction: column;

    height: 40%;
    width: 90%;
}

.login-item{
    height: 5vh;
    width: 55%;

    margin-bottom: 1.5rem;

    @include flex-center;
    justify-content: center;

    border: .15rem solid rgb(161, 161, 161);
    border-radius: .5rem;

    // background-color: yellow;
}

.login-logo{
    height: 100%;
    width: 18%;

    @include flex-center;
    justify-content: center;
    

    // background-color: #1b1b1b;

    img{
        height: 70%;
        width: 50%;
    }
}

.login-item-text{
    height: 100%;
    width: 45%;

    @include flex-center;
    justify-content: start;

    // background-color: #a7a3a3;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 600px) {

  body {
    background-color: lightblue;
    width: 100vw;

  }

  .nav-bar{
    background-color: yellow;
  }

  .logo-section{
    // // width: ;
    // background-color: purple;
  }

  .nav-item{
    display: none;
  }

  .intro-section{
    padding-top: 5rem;
      flex-direction: column-reverse;

  }

  .intro-text{
    width: 100%;
    h1{
      font-size: 2rem;
    }
  }

  .intro-bg{
    width: 100%;
    height: 100%;
  }

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

